doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Raleway:wght@300;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap", rel="stylesheet")
    title No autorizado
  body(style="background-color: #edf2f7; width:100%; min-height:100vh; display:flex;justify-content:center;align-items:center; flex-wrap: wrap;")
    p(style="color:white;") ACCESO DENEGADO